#nav-bar{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:60px;
	background-color: white;
	color:black;
}

.fig {
	color: #798744;
}

.info {
	color: #5E59A0;
}

.photo {
	color: #845C4E;
}

.type {
	color: #AB4C3C;
}

.app {
	color: #9B3E3D;
}

.white {
	color: #FFFFFF;
}

.quest {
	font-family: 'Questrial', sans-serif;
}

.pb {
	width: 15%;
	display: block;
	margin-left: 5%;
	margin-right: 5%;

}

body{
	padding-left: 2%;
	background-color: #000035; //DCDCDC
	width:100%;
	color: white;
	font-family: 'Questrial', sans-serif;
}

.inline-block{
	display:inline-block;
	height:20px;
	padding:10px;
	vertical-align: top;
	margin:3px;
	background-color: white;
}

/*Main*/

.centerpic {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.listReg {
	margin-top: -6%;
	font-size: 20px;
}

.listL {
	margin-top: -2%;
	float: left;
	width: 50%;
	font-size: 20px;
}

.listR {
	margin-top: -2%;
	float: right;
	width: 50%;
	font-size: 20px;
}

.centerLabel {
	font-family: 'Questrial', sans-serif;
	font-size: 45px;
	padding-top: 10%;
	max-width: 80%;
	text-align:center;
	margin:0 auto;
	padding-bottom:1%;
}


.centerLabelTopJob {
	font-family: 'Questrial', sans-serif;
	font-size: 45px;
	padding-top: 5%;
	max-width: 80%;
	text-align:center;
	margin:0 auto;
	padding-bottom:1%;
}

.centerLabelToyota {
	font-family: 'Questrial', sans-serif;
	font-size: 45px;
	padding-top: 5%;
	max-width: 80%;
	text-align:center;
	margin:0 auto;
	padding-bottom:1%;
}

.bigger {
	font-size:125%;
}

.centerLabelSecond {
	font-family: 'Questrial', sans-serif;
	font-size: 45px;
	padding-top: 10%;
	max-width: 80%;
	text-align:center;
	margin:0 auto;
	padding-bottom:1%;
}

.centerLabelForProject {
	font-family: 'Questrial', sans-serif;
	font-size: 55px;
	padding-top: 5%;
	text-align: center;
	/*padding-bottom:1%;*/
}

.centerText {
	display:inline-block;
	font-size: 20px;
	text-align: left;
	font-family: 'Questrial', sans-serif;
	margin-left: 18%;
	margin-right: 18%;
}

.leftLabel {
	font-size: 30px;
	text-align: left;
	font-family: 'Questrial', sans-serif;
	margin-left: 18%;
	padding-bottom: -1.5%;
}


.centerQuote {
	display:inline-block;
	font-size: 20px;
	text-align: left;
	font-family: 'Questrial', sans-serif;
	margin-left: 30%;
	margin-right: 30%;
}

.subhead {
	font-size: 30px;
	padding-top: 1.5%;
}

.pro {
	width: 56%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1%;
	padding-bottom: 1%;
}

h1 {
	font-size: 30px;
}

.hpic {
	display:inline-block;
	padding-left: 18px;
	padding-top: 4.5%;
	width:40%;
}

.nav {
	font-size: 18px;
}

.bio {
  margin-right: 48%;
	margin-left: 8%;
}

.bioReverse {
  margin-left: 48%;
	margin-right: 8%;
}

.right {
	margin-top: 1%;
	margin-right: 7%;
	border:40px solid #4c4c71;
	float: right;
	height: 25%;
	width: 25%;
}

.space {
	margin-top: 13%;
}

.spaceBig {
	margin-top: 25%;
}

.spaceSmall {
	margin-top: 8%;
}

.extra_space {
	margin-top: 17%;
}

.left {
	margin-left: 8%;
	border:40px solid #4c4c71;
	float: left;
	height: 30%;
	width: 30%;
}

.leftSmall {
	margin-left: 8%;
	border:40px solid #4c4c71;
	float: left;
	height: 15%;
	width: 15%;
}

.img {
	padding-top: 3%;
	width: 70%;
	height: auto;
}

.toyota_img {
	padding-top: 3%;
	width: 50%;
	height: auto;
}

.csh_img {
	padding-top: 3%;
	padding-bottom: 3%;
	width: 40%;
	height: auto;
}

.column {
	float: left;
	height: 50%;
	width: 48%;
	padding: 5px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

.leftMiddle {
	margin-left: 8%;
	border:40px solid #4c4c71;
	float: left;
	height: 30%;
	width: 30%;
	margin-top: 4.5%;
}

.about {
	display:inline-block;
	font-size: 20px;
}

.name{
	padding-top: 6%;
	padding-bottom: 1%;
	font-family:futura;
	font-size:60px;
	font-weight:bold;
	text-align: center;
}

.about {
	padding-top: -1%;
	padding-bottom: 3%;
}

.nodeco {
	text-decoration: none;
	color:black;
}

.padpic {
	padding-top: 3%;
}

/*End Signature*/

.signature {
	padding-top: 10%;
	margin-left: 0px;
	width:104%;
	height:10%;
	padding-bottom: 2%;
}

.sig {
	padding-right: 4%;
}

.alignLeft {
	text-align: left;
}

.center {
	text-align: center;
}

.vcenter {
	padding-top: 17px;
}



.aleft {
	text-align: left;
}

.opt:hover {
	width:59%;
}

.pb:hover {
  	filter: invert(40%);
}

.nav:hover {
	color: #6b6b6b;
}
